@{
    ViewBag.Title = "Listagem e adição de Agentes via AJAX + JSON + Web API";
}

<h2>Listagem e adição de Agentes via AJAX + JSON + Web API</h2>

<div class="container">
    @*
        Container da grelha de agentes.
        Irá conter os divs com informação sobre agentes.
    *@
    <div class="row" id="grelha-agentes"></div>

    @* Linha horizontal. *@
    <hr />
</div>